$bg-color: #261da8;
$border-color: red;

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;

  p {
    background-color: $bg-color;
  }
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: $bg-color;
}
